<h2>User Detail Form</h2>
<mat-tab-group>
    <mat-tab label="Profile Details">
<div class="container">
    <form [formGroup]="userForm" >
        <div class="row">
            <div class="col-6">
                <label for="name">Name</label>
                <input type="text" class="form-control" [ngClass]="{
                  'is-valid': isFieldValid('user_name', userForm),
                  'is-invalid': isFieldInvalid('user_name', userForm),
                }" formControlName="user_name">
                @if (isRequiredInvalid('user_name', userForm)) {
                <p class="field-validation-error">User name is required
                    !</p>
                }
                @if (isPatternInvalid('user_name',userForm)) {
                <p class="field-validation-error">It should contain only letters and white space
                </p>
                }
                @if (isLengthInvalid('user_name',userForm)) {
                <p class="field-validation-error">Name should be of 2-20 characters
                    !</p>
                }
            </div>
            <div class="col-6">
                <label for="email">Email</label>
                <input type="email" class="form-control" [class.is-valid]="isFieldValid('email',userForm)"
                    [class.is-invalid]="isFieldInvalid('email',userForm)" formControlName="email">
                <p class="field-validation-error" *ngIf="isRequiredInvalid('email', userForm)">Email address is required
                    !</p>
                <p class="field-validation-error" *ngIf="isPatternInvalid('email', userForm)">Enter correct email id</p>
                <p class="field-validation-error" *ngIf="isLengthInvalid('email',userForm)">Enter email id less than 50
                    characters</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6">
                <button type="button" (click)="saveUser()" class="btn btn-success">Save</button>
            </div>
        </div>
    </form>
</div>
</mat-tab>
<mat-tab label="Change Password">
    <div class="col-10" style="display: flex; justify-content: center;">
    <form [formGroup]="passwordFrom">
      <h2>Change your password</h2>
      <br>
        <p>
    <mat-form-field>
        <mat-label>Enter current password</mat-label>
        <input matInput [type]="hideCurrent ? 'password' : 'text'"  formControlName="current_password">
        <button mat-icon-button matSuffix (click)="hideCurrent = !hideCurrent" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideCurrent">
          <mat-icon>{{hideCurrent ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint align="end">Enter only 8 characters</mat-hint>
        @if (isRequiredInvalid('current_password', passwordFrom)) {
            <mat-error>Password is required</mat-error>
          }
        @if (isPatternInvalid('current_password', passwordFrom)) {
            <mat-error>Atleast one [A-Z],[a-z],[0-9],sp.character</mat-error>
          }
          @if (isLengthInvalid('current_password', passwordFrom)) {
            <mat-error>Enter password of only 8 characters</mat-error>
          }
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Enter new password</mat-label>
        <input matInput [type]="hideNew ? 'password' : 'text'"  formControlName="password">
        <button mat-icon-button matSuffix (click)="hideNew = !hideNew" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNew">
          <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint align="end">Enter only 8 characters</mat-hint>
        @if (isRequiredInvalid('password', passwordFrom)) {
            <mat-error>Password is required</mat-error>
          }
        @if (isPatternInvalid('password', passwordFrom)) {
            <mat-error>Atleast one [A-Z],[a-z],[0-9],sp.character</mat-error>
          }
          @if (isLengthInvalid('password', passwordFrom)) {
            <mat-error>Enter password of only 8 characters</mat-error>
          }
        </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Re-enter new password</mat-label>
        <input matInput [type]="hideConfirm ? 'password' : 'text'"  formControlName="confirm_password">
        <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">
          <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint align="end">Enter only 8 characters</mat-hint>
        @if (isRequiredInvalid('confirm_password', passwordFrom)) {
            <mat-error>Password is required</mat-error>
          }
        @if (isPatternInvalid('confirm_password', passwordFrom)) {
            <mat-error>Atleast one [A-Z],[a-z],[0-9], sp.character</mat-error>
          }
          @if (isLengthInvalid('confirm_password', passwordFrom)) {
            <mat-error>Enter password of only 8 characters</mat-error>
          }
          @if (isMismatchInvalid('confirm_password')) {
            <mat-error>Password does not match with above</mat-error>
          }
      </mat-form-field>
    </p>
      <button mat-raised-button color="primary" (click)="updatePassword()">Update Password</button>
  </form>
</div>
</mat-tab>

</mat-tab-group>































<!-- <h2>User Detail Form</h2>
<div class="container">
    <form [formGroup]="userForm" >
        <div class="row">
            <div class="col-6">
                <label for="name">Name</label>
                <input type="text" class="form-control" [ngClass]="{
                  'is-valid': isFieldValid('user_name'),
                  'is-invalid': isFieldInvalid('user_name'),
                }" formControlName="user_name">
                @if (isRequiredInvalid('user_name')) {
                <p class="field-validation-error">User name is required
                    !</p>
                }
                @if (isPatternInvalid('user_name')) {
                <p class="field-validation-error">It should contain only letters and white space
                </p>
                }
                @if (isLengthInvalid('user_name')) {
                <p class="field-validation-error">Name should be of 2-20 characters
                    !</p>
                }
            </div>
            <div class="col-6">
                <label for="email">Email</label>
                <input type="email" class="form-control" [class.is-valid]="isFieldValid('email')"
                    [class.is-invalid]="isFieldInvalid('email')" formControlName="email">
                <p class="field-validation-error" *ngIf="isRequiredInvalid('email')">Email address is required
                    !</p>
                <p class="field-validation-error" *ngIf="isPatternInvalid('email')">Enter correct email id</p>
                <p class="field-validation-error" *ngIf="isLengthInvalid('email')">Enter email id less than 50
                    characters</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6">
                <button type="button" (click)="saveUser()" class="btn btn-success">Save</button>
            </div>
        </div>
    </form>
</div> -->