
 /* Navbar Styles */
 .navbar {
    z-index: 1000; /* Set a higher z-index for the navbar */
    background-color: #343a40; /* Add a background color to the navbar */
    position: fixed; /* Add this line */
    width: 100%; /* Add this line */
}


.navbar-brand {
    position: relative;
    left: 40px;
}

/* Profile Picture */
.profile-pic {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.nav-item {
    display: flex;
    align-items: center;
}

.profile-pic img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.profile-menu .dropdown-menu {
    right: 0;
    left: unset;
}

.profile-menu .fa-fw {
    margin-right: 10px;
}

.toggle-change::after {
    border-top: 0;
    border-bottom: 0.3em solid;
}

.list-group-item.active {
    background-color: #2068d3;
    color: white;
}
