<h2>User Detail Form</h2>
<div class="container">
    <form [formGroup]="userForm" >
        <div class="row">
            <div class="col-6">
                <label for="name">Name</label>
                <input type="text" class="form-control" [ngClass]="{
                  'is-valid': isFieldValid('user_name'),
                  'is-invalid': isFieldInvalid('user_name'),
                }" formControlName="user_name">
                @if (isRequiredInvalid('user_name')) {
                <p class="field-validation-error">User name is required
                    !</p>
                }
                @if (isPatternInvalid('user_name')) {
                <p class="field-validation-error">It should contain only letters and white space
                </p>
                }
                @if (isLengthInvalid('user_name')) {
                <p class="field-validation-error">Name should be of 2-20 characters
                    !</p>
                }
            </div>
            <div class="col-6">
                <label for="email">Email</label>
                <input type="email" class="form-control" [class.is-valid]="isFieldValid('email')"
                    [class.is-invalid]="isFieldInvalid('email')" formControlName="email">
                <p class="field-validation-error" *ngIf="isRequiredInvalid('email')">Email address is required
                    !</p>
                <p class="field-validation-error" *ngIf="isPatternInvalid('email')">Enter correct email id</p>
                <p class="field-validation-error" *ngIf="isLengthInvalid('email')">Enter email id less than 50
                    characters</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6">
                <button type="button" (click)="saveUser()" class="btn btn-success">Save User</button>
            </div>
        </div>
    </form>
</div>