.field-validation-error {
    color: #C1372A !important;
    display: block;
    font-weight: normal !important;
    margin-top: -4px;
    margin-bottom: 10px;
    font-size: 12px; /* Set font size smaller than normal */
    font-style: italic; /* Apply italics */
    text-align: left; /* Align to the left */
  }
  .next-btn{
    display: flex; 
    justify-content: flex-end;
  }

  .two-btn-align{
    display: flex;
     justify-content: space-between;
  }

  ::ng-deep .dropdown-list {
    position: fixed !important;
  }




