<h2>Patient Detail Form</h2>
<div class="container">
    <form [formGroup]="patientForm" (ngSubmit)="savePatient()">
        <div class="row">
            <div class="col-4">
                <label for="name">Name</label>
                <input type="text" class="form-control" [class.is-valid]="isFieldValid('name')"
                    [class.is-invalid]="isFieldInvalid('name')" formControlName="name">
                <p class="field-validation-error" *ngIf="isFieldInvalid('name')">Valid name is required!</p>
            </div>
            <div class="col-4">
                <label for="name">Age</label>
                <input type="text" class="form-control" [class.is-valid]="isFieldValid('age')"
                    [class.is-invalid]="isFieldInvalid('age')" formControlName="age">
                <p class="field-validation-error" *ngIf="isFieldInvalid('age')">Valid age is required!</p>
            </div>
            <div class="col-4">
                <label for="blood group">Blood Group</label>
                <select class="form-control form-select" formControlName="blood_group"
                    [class.is-valid]="isFieldValid('blood_group')" [class.is-invalid]="isFieldInvalid('blood_group')">
                    <option value="" disabled>Select a blood group</option>
                    <option *ngFor="let bloodGroup of bloodGroups" [value]="bloodGroup">{{bloodGroup}}</option>
                </select>
                <p class="field-validation-error" *ngIf="isFieldInvalid('blood_group')">Blood group is required!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label for="address">Address</label>
                <textarea class="form-control" [class.is-valid]="isFieldValid('address')"
                    [class.is-invalid]="isFieldInvalid('address')" formControlName="address"></textarea>
                <p class="field-validation-error" *ngIf="isFieldInvalid('address')">Valid address is required!</p>
            </div>
            <div class="col-4">
                <label for="state">State</label>
                <select class="form-control form-select" formControlName="state" (change)="onStateChange($event)"
                    [class.is-valid]="isFieldValid('state')" [class.is-invalid]="isFieldInvalid('state')">
                    <option value="" disabled>Select a State</option>
                    <option *ngFor="let state of states" [value]="state">{{state}}</option>
                </select>
                <p class="field-validation-error" *ngIf="isFieldInvalid('state')">State is required!</p>
            </div>
            <div class="col-4">
                <label for="city">City</label>
                <select class="form-control form-select" formControlName="city" [class.is-valid]="isFieldValid('city')"
                    [class.is-invalid]="isFieldInvalid('city')">
                    <option value="" disabled>Select a City</option>
                    <option *ngFor="let city of cities" [value]="city">{{city}}</option>
                </select>
                <p class="field-validation-error" *ngIf="isFieldInvalid('city')">City is required!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label for="zipcode">ZipCode</label>
                <input type="text" class="form-control" [class.is-valid]="isFieldValid('zipcode')"
                    [class.is-invalid]="isFieldInvalid('zipcode')" formControlName="zipcode">
                <p class="field-validation-error" *ngIf="isFieldInvalid('zipcode')">Valid 6 digit zipcode is required!
                </p>
            </div>
            <div class="col-4">
                <label for="is_active">Active Status</label>
                <select class="form-control form-select" formControlName="is_active"
                    [class.is-valid]="isFieldValid('is_active')" [class.is-invalid]="isFieldInvalid('is_active')">
                    <option value="true">Active</option>
                    <option value="false">Not Active</option>
                </select>
                <p class="field-validation-error" *ngIf="isFieldInvalid('is_active')">Valid active status is required!
                </p>
            </div>
            <div class="col-4">
                <label for="phoneNumber">Phone No:</label>
                <input type="text" class="form-control" [class.is-valid]="isFieldValid('phone_number')"
                    [class.is-invalid]="isFieldInvalid('phone_number')" formControlName="phone_number">
                <p class="field-validation-error" *ngIf="isFieldInvalid('phone_number')">10 digits phone number is
                    required!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label for="user_name">User Name</label>
                <input type="text" class="form-control" [class.is-valid]="isFieldValid('user_name')"
                    [class.is-invalid]="isFieldInvalid('user_name')" formControlName="user_name">
                <p class="field-validation-error" *ngIf="isFieldInvalid('user_name')">Valid user name is required!
                </p>
            </div>
            <div class="col-4">
                <label for="email">Email</label>
                <input type="email" class="form-control" [class.is-valid]="isFieldValid('email')"
                    [class.is-invalid]="isFieldInvalid('email')" formControlName="email">
                <p class="field-validation-error" *ngIf="isFieldInvalid('email')">Valid email is required!
                </p>
            </div>
            <div class="col-4">
                <label for="password">Password</label>
                <input type="password" class="form-control" [class.is-valid]="isFieldValid('password')"
                    [class.is-invalid]="isFieldInvalid('password')" formControlName="password">
                <p class="field-validation-error" *ngIf="isFieldInvalid('password')">Valid password is required!
                </p>
            </div>
        </div>

        <div class="row" *ngIf="isAllowedRole()">
            <div class="col-4">
                <label for="hospitals">Hospitals</label>
                <ng-multiselect-dropdown #multiSelect [placeholder]="'Select One Hospital'" [settings]="dropdownSettings"
                    [data]="hospitals" formControlName="hospitalList" [class.is-valid]="isFieldValid('hospitalList')"
                    [class.is-invalid]="isFieldInvalid('hospitalList')"
                    (change)="getAllHospital()"></ng-multiselect-dropdown>
                <p class="field-validation-error" *ngIf="isFieldInvalid('hospitalList')">Please select only one
                    hospital.</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-success"> Save Patient</button>
            </div>
        </div>
    </form>
</div>