.field-validation-error {
    color: #C1372A !important;
    display: block;
    font-weight: normal !important;
    margin-top: -4px;
    margin-bottom: 10px;
    font-size: 12px; /* Set font size smaller than normal */
    font-style: italic; /* Apply italics */
    text-align: left; /* Align to the left */
  }
  .next-btn{
    display: flex; 
    justify-content: flex-end;
  }

  .two-btn-align{
    display: flex;
     justify-content: space-between;
  }

  .patient-form {
    height: 100%; /* Adjust the height as needed */
    width: 100%; /* Adjust the width as needed */
}

.form-container {
  height: 600px; /* Adjust the height as needed */
    width: 100%; /* or specify a fixed width */
}

.mat-step{
  height: 60%;
}

.mat-horizontal-stepper{
  height: 70%;
}


