.field-validation-error {
    color: #C1372A !important;
    display: block;
    font-weight: normal !important;
    margin-top: -4px;
    margin-bottom: 10px;
    font-size: 12px; /* Set font size smaller than normal */
    font-style: italic; /* Apply italics */
    text-align: left; /* Align to the left */
  }
  .next-btn{
    display: flex; 
    justify-content: flex-end;
  }

  .two-btn-align{
    display: flex;
     justify-content: space-between;
  }

  /* Custom CSS for invalid dropdown */
::ng-deep .multiselect-dropdown {
  border-color: #8a010f !important;
}

  ::ng-deep .dropdown-list {
    position: fixed !important;
  }
  
  .is-invalid {
    border: 1px solid red; /* Example: setting border color to red */
    /* Add any other styling for invalid state */
}










