 /* Sidebar Styles */
 .sidebar {
    z-index: 900; /* Set a lower z-index for the sidebar */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding-top: 48px; /* Adjusted height of navbar */
    padding-bottom: 16px; /* Reduced vertical length */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Adjusted styling for smaller screens */
@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
        padding-top: 16px;
    }
}

.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

#content {
    margin-left: 240px; /* Adjust this value based on your sidebar width */
    padding: 15px;
}

/* Adjusted styling for smaller screens */
@media (max-width: 991.98px) {
    #content {
        margin-left: 0;
    }
}


 /* Navbar Styles */
 .navbar {
    z-index: 1000; /* Set a higher z-index for the navbar */
    background-color: #343a40; /* Add a background color to the navbar */
}

.navbar-brand {
    position: relative;
    left: 40px;
}

/* Profile Picture */
.profile-pic {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.nav-item {
    display: flex;
    align-items: center;
}

.profile-pic img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.profile-menu .dropdown-menu {
    right: 0;
    left: unset;
}

.profile-menu .fa-fw {
    margin-right: 10px;
}

.toggle-change::after {
    border-top: 0;
    border-bottom: 0.3em solid;
}

.list-group-item.active {
    background-color: #2068d3;
    color: white;
}
