 

#content {
    margin-left: 240px; /* Adjust this value based on your sidebar width */
    padding: 15px;
    padding-top: 100px; /* Adjust this value to match the height of your navbar */
    height: 800px;

}

/* Adjusted styling for smaller screens */
@media (max-width: 991.98px) {
    #content {
        margin-left: 20px;
    }
}




  

