<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid ">
            <a class="navbar-brand" href="#">Hospital Management System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 profile-menu">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">User Name</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="profile-pic">
                                <img src="https://th.bing.com/th/id/OIP.fqSvfYQB0rQ-6EG_oqvonQHaHa?rs=1&pid=ImgDetMain" alt="Profile Picture">
                            </div>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#"><i class="fas fa-sliders-h fa-fw"></i> Edit
                                    Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><!-- Update the Log Out link with the routerLink directive -->
                                <a class="dropdown-item" routerLink="/login"><i class="fas fa-sign-out-alt fa-fw"></i> Log Out</a>
                                </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
      </nav>

      <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky ">
            <div class="list-group list-group-flush mx-4 my-5 ">
                <a routerLink="hospital" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-building fa-fw me-3"></i><span>Hospital</span></a>
                <a routerLink="doctor" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-calendar fa-fw me-3"></i><span>Doctor</span></a>
                <a routerLink="patient" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-users fa-fw me-3"></i><span>Patient</span></a>
                <a routerLink="appointment" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-money-bill fa-fw me-3"></i><span>Appointment</span></a>
            </div>
        </div>
    </nav>
<!-- Sidebar -->

<div id="content">
    <router-outlet></router-outlet>
</div>
