 <!-- Sidebar -->
 <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky ">
        <div class="list-group list-group-flush mx-4 my-5 ">
            <a routerLink="hospital" class="list-group-item list-group-item-action py-2 ripple"><i
                    class="fas fa-building fa-fw me-3"></i><span>Hospital</span></a>
            <a routerLink="doctor" class="list-group-item list-group-item-action py-2 ripple"><i
                    class="fas fa-calendar fa-fw me-3"></i><span>Doctor</span></a>
            <a routerLink="patient" class="list-group-item list-group-item-action py-2 ripple"><i
                    class="fas fa-users fa-fw me-3"></i><span>Patient</span></a>
            <a routerLink="appointment" class="list-group-item list-group-item-action py-2 ripple"><i
                    class="fas fa-money-bill fa-fw me-3"></i><span>Appointment</span></a>
        </div>
    </div>
</nav>
<!-- Sidebar -->

<div id="content">
    <router-outlet></router-outlet>
</div>
