<div class="row">
    <div class="col-12 d-flex justify-content-end" *ngIf="isAllowedRole()">
        <button type="button" routerLink="./addAppointment" routerLinkActive="active" class="btn btn-dark">Book
            Appointment</button>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <ag-grid-angular class="ag-theme-quartz" style="height: 600px; width: 100%;" [rowData]="appointmentList"
            [columnDefs]="colDefs" [defaultColDef]="defaultColDef" (gridReady)="onGridReady($event)"
            [pagination]="true">
            >
        </ag-grid-angular>
    </div>
</div>