<div class="row">
    <div class="col-12 d-flex justify-content-end" *ngIf="getUserRole() === 'Doctor' || getUserRole() === 'Admin'" >
        <button type="button" routerLink="./addPatient" routerLinkActive="active" (click)="onAddPatientClick()"
            class="btn btn-dark">+ Add Patient</button>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <ag-grid-angular class="ag-theme-quartz" style="height: 500px; width: 100%;" [rowData]="patientList"
            [columnDefs]="colDefs" [defaultColDef]="defaultColDef" (gridReady)="onGridReady($event)">
            >
        </ag-grid-angular>
    </div>
</div>