<body>
  <div class="password-page">
    <div class="form">
      <div class="password">
        <div class="password-header">
          <h3>Set Password</h3>
          <p>Please enter the password</p>
        </div>
      </div>
      <form [formGroup]="setPasswordForm" class="password-form">
        <input
          type="password"
          class="form-control"
          [class.is-valid]="!isFieldValid('password')"
          [class.is-invalid]="isFieldValid('password')"
          formControlName="password"
          placeholder="Password"
        />
        <p class="field-validation-error" *ngIf="isRequiredInvalid('password')">
          Password is required !
        </p>
        <p class="field-validation-error" *ngIf="isPatternInvalid('password')">
          Atleast one [A-Z],[a-z],[0-9] and a special character
        </p>
        <p class="field-validation-error" *ngIf="isLengthInvalid('password')">
          Enter password of only 8 characters
        </p>

        <input
          type="password"
          class="form-control"
          [class.is-valid]="!isFieldValid('confirm_password')"
          [class.is-invalid]="isFieldValid('confirm_password')"
          formControlName="confirm_password"
          placeholder="Re-enter Password"
        />
        <p
          class="field-validation-error"
          *ngIf="isRequiredInvalid('confirm_password')"
        >
          Password is required !
        </p>
        <p
          class="field-validation-error"
          *ngIf="isPatternInvalid('confirm_password')"
        >
          Atleast one [A-Z],[a-z],[0-9] and a special character
        </p>
        <p
          class="field-validation-error"
          *ngIf="isLengthInvalid('confirm_password')"
        >
          Enter password of only 8 characters
        </p>
        <p
          class="field-validation-error"
          *ngIf="isMismatchInvalid('confirm_password')"
        >
          This password does not match with above
        </p>
        <button
          type="button"
          (click)="onSubmitPassword()"
          class="btn"
          [disabled]="setPasswordForm.invalid"
        >
          Set Password
        </button>
      </form>
    </div>
  </div>
</body>
