<div class="row">
  <div
    class="col-12 d-flex justify-content-end"
    *ngIf="this.userService.getUserRole() === doctorRole"
  >
    <button
      type="button"
      routerLink="./addPatient"
      routerLinkActive="active"
      class="btn btn-dark"
    >
      Add Patient
    </button>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <ag-grid-angular
      class="ag-theme-quartz"
      style="height: 550px; width: 100%"
      [rowData]="patientList"
      [columnDefs]="colDefs"
      [defaultColDef]="defaultColDef"
      (gridReady)="onGridReady($event)"
      [pagination]="true"
    >
      >
    </ag-grid-angular>
  </div>
</div>
